<!DOCTYPE html>
<html lang="rus">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Ask_Pivkin</title>
        <link href="../styles/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="../styles/bootstrap/css/bootstrap.css" rel="stylesheet">
        <link href="../styles/mystyle.css" rel="stylesheet"> 
    </head>
    <body>
        <div class="container"> 
            <div class="page-header">   
                <div class = "nav">
                    <h3 class="navbar-text navbar-block"><a href="http://ask_Pivkin:8080/"> Ask_Pivkin<a></h3> 
                    <form class="navbar-form navbar-left navbar-block" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                        <button type="submit" class="btn btn-primary">ASK</button>
                    </form>
                    <!--div class="navbar-right user-online">
                        <div class="avatar-in-header">
                            <img src="http://lorempixel.com/45/60/people/"></img>
                        </div>
                        <h6>Mr.Pupkin</h6>
                        <div class="nav">
                                <a href="#" class="btn btn-info" id="settings-button">settings</a>
                                <a href="#" class="btn btn-primary">log out</a>
                        </div>
                    </div-->
                    <div class="navbar-right user-offline">
                        <a href="http://ask_Pivkin:8080/registration/" class="btn btn-info"">register</a>
                        <a href="http://ask_Pivkin:8080/login/"  class="btn btn-primary">log in</a>
                    </div>
                   
                </div>
            </div>
            <div class="row">
                <div class="col-xs-8">
                    {% block main %}
                    {% endblock %}
                </div>
                <div class="col-xs-4"> 
                    <div class="popular_tags">
                        <h2>Popular tags</h2>
                        <ul class="list-unstyled list-inline" id ="tags">
                            <li><a>Cats</a></li>
                            <li><a>С++</a></li>
                            <li><a>Python</a></li>
                            <li><a>Ruby</a></li>
                            <li><a>PHP</a></li>
                            <li><a>C#</a></li>
                            <li><a>Assembler</a></li>
                        </ul>
                    </div>
                    <div class="best_authors">
                        <h2>The Best authors</h2>
                        <ul  class="list-unstyled list-inline">
                            <li><a href="#">Green</a></li>
                            <li><a href="#">Brown</a></li>
                            <li><a href="#">Pivkin</a></li>
                            <li><a href="#">Pupkin</a></li>
                            <li><a href="#">Ivanov</a></li>
                            <li><a href="#">Semenov</a></li>
                            <li><a href="#">Petrov</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
