{% extends 'base.html' %}

{% block main %}

<h2>Tag: Python</h2>
{% for i in num %}
<div class="question">
    <div class="question_leftside">
        <div class="avatar">
            <img src="http://lorempixel.com/100/100/people/"></img>
        </div>
        <div class="nav">
            <form class="navbar-form navbar-block">
                <button type="button" class="btn btn-info navbar-left" aria-label="Left Align">
                    <span class="glyphicon glyphicon-thumbs-down " aria-hidden="true"></span>
                </button>
                <label class="likes-number navbar-left"><h5>10</h5></label>
                <button type="button" class="btn btn-info navbar-left" aria-label="Left Align">
                    <span class="glyphicon glyphicon-thumbs-up " aria-hidden="true"></span>
                </button>
            </form>
        </div>
    </div>

    <div class="question_rightside">
        <h3><u><a href="/question/">Как изучить Питон?</a></u></h3>
        <p>Говорят, питон легкий для изучения язык программирования, с чего начать его изучение...</p>
        <ul class="list-unstyled list-inline">
            <li>
                <a href="/question/"><u>ответы(3)</u></a>
            </li>
            <li>
                <h4>Теги:</h4>
            </li>
            <li>
                <a href = "#"><u>тег1</u></a>
            </li>
            <li>
                <a href = "#"><u>тег2</u></a>
            </li>
        </ul>
    </div>
    
</div>

{% endfor %}



<nav>
    <ul class="pagination">
   
        <li>
            <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
   
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">...</a></li>
   
        <li>
            <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
   
    </ul>
</nav>


{% endblock %}
