.avatar {
    margin-top: 8pt;
    margin-left: 8pt;

}   

.avatar-in-header {
    margin-left: -50pt;
    float: left;
    margin-top: 8pt
}
#settings-button {
    float:left; 
    margin-right:4pt;   
}
body{
    font-family: Univers;
}
.user-online {
    margin-left: 20pt;
    margin-right: 20pt;	
}

.user-offline {
    margin-top:16pt;
    margin-right:8pt;
}

.question {
    padding-left: 4pt;
    padding-right: 4pt;
    width:100%;
    border-style: solid;
    border-width: 2pt;
    border-color: lightblue;
    margin-bottom: 8pt;
    min-height: 150pt;
}

#questionToAnswer {
    border-width: 0pt;
    border-bottom-width: 4pt;
    margin-bottom: 16pt;
    border-color: lightblue;    
} 

.question_leftside {
    float: left;
    margin: 4pt;
}

.question_rightside {
    min-height: 100pt;
    padding: 16pt;
    
}

.popular_tags, .best_authors{
    margin-bottom: 16pt;
    padding: 8pt;
    margin-left: 10pt;
}

.paragraph-answer {
    min-height: 80pt;
}
.page-header {
    border-style: solid;
    border-width: 2pt;
    border-color: lightblue;
    padding-left: 16pt;
    padding-right: 8pt;
}


.best_authors  ul  li {
    font-style:underline;
}

.navbar-block{
    margin-top:16pt;
}



